

h1{
    font-family: 'Mansalva', cursive;
    color: black;
    font-size: 100px;;
}


.title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.startButton {
	box-shadow: 0px 1px 9px 2px grey;
	background:linear-gradient(to bottom, black 5%, black 100%);
	background-color: black;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Mansalva', cursive;
	font-size:30px;
	padding:19px 76px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    
}
.startButton:hover {
    background:linear-gradient(to bottom, grey
     5%, grey 100%);
	background-color: black;
}
.startButton:active {
	position:relative;
	top:1px;
}
.start{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.css-input { 
	border-width:2px; 
	border-style:solid; 
	padding:10px; 
	font-size:17px; 
	border-radius:50px; 
	background-color:#000000; 
	border-color:#fffaff; 
	color:#ffffff; 
	text-align:center; 
	font-weight:bold; 
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.75);  } 
.css-input:focus { 
	outline:none; 
} 



@media screen and (min-width: 824px) and (max-width: 1024px){
	h1{
		font-size: 80px;
		text-align: center;
	}

}
@media screen and (max-width: 823px) {
	.start{
		padding-top: 80px;
	}
	h1{
		font-size: 60px;
		text-align: center;
	}
}

