.Scene2Button {
	box-shadow: 0px 1px 9px 2px grey;
	background:linear-gradient(to bottom, black 5%, black 100%);
	background-color: black;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Mansalva', cursive;
	font-size:30px;
	padding:19px 76px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    
}
.Scene2Button:hover {
    background:linear-gradient(to bottom, grey
     5%, grey 100%);
	background-color: black;
}
.Scene2Button:active {
	position:relative;
	top:1px;
}
.Scene2{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.motherCacaDiv {
	display: flex;
	justify-content: center;
}

.cacaDiv {
	width: 20%;
	height: 200px;
	padding-left: 60px;
	padding-bottom: 60px;
	position: absolute;
	bottom: 350px;
	cursor: pointer;
}