.backScene5{
    background-image: url("../../assets/openSpace.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}  