.Scene1Button {
	box-shadow: 0px 1px 9px 2px grey;
	background:linear-gradient(to bottom, black 5%, black 100%);
	background-color: black;
	border-radius:42px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Mansalva', cursive;
	font-size:30px;
	padding:19px 76px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    
}
.Scene1Button:hover {
    background:linear-gradient(to bottom, grey
     5%, grey 100%);
	background-color: black;
}
.Scene1Button:active {
	position:relative;
	top:1px;
}
.Scene1{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.dialogue {
	display: none;
	

}
.start1{
    display: flex;
	justify-content: flex-end;	
}

.boxDialogue {
	border: 1px solid black;
	background-color: rgba(50,50,50,0.5);
	width: 50%;
	height: 150px;
	z-index: 1;
	position: fixed;
	right: 50px;
	top: 9em;
	text-align: center;
	padding-top: 50px;
	color: white;
}

.bubble{
	position: absolute;
	right:150px;
	background-color:white;
	text-align:center;
	width:300px;
	height:100px;
	border:2px solid #555555;
	padding-top: 20px;
	border-top-right-radius:80px 40px;
border-top-left-radius:80px 40px;
border-bottom-right-radius:80px 40px;
border-bottom-left-radius:80px 40px;
-moz-border-radius-topright:80px 40px;
-moz-border-radius-topleft:80px 40px;
-moz-border-radius-bottomright:80px 40px;
-moz-border-radius-bottomleft:80px 40px;
-webkit-border-top-right-radius:80px 40px;
-webkit-border-top-left-radius:80px 40px;
-webkit-border-bottom-right-radius:80px 40px;
-webkit-border-bottom-left-radius:80px 40px;
z-index: 1;
	}




	.test{
		height: 400px;
	}


	.max{
		margin-right: 900px;
	}

